{% extends "instructor/base_hod.html" %}
{% load bootstrap3 %}
{% block content %}

<div class="container">

<form  enctype="multipart/form-data" method="POST">
  <br><br>

  <div class="jumbotron">
<h2>Upload Excel sheet for adding Course(s):</h2>
<br>

    <div class="container">
      <!-- <form method="POST"> -->

      {% csrf_token %}
      {% bootstrap_form registrar_form %}
      <input type="submit" class="btn btn-default" value="Submit File">

      <!-- </form> -->
    </div>
  <!-- <input type="submit" class="form-control-file" value="Upload"> -->
</div>
</form>
</div>

{% endblock %}
